@using Here.Models
@model Here.ViewModels.MovieListViewModel

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of movies</h2>
@if (Model.Movie.Count == 0)
{
    <p>Currently we don't have any movies</p>
}
else
{
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>
                Name
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var movie in Model.Movie)
        {
            <tr>
                <td>@movie.Name</td>
            
            </tr>
        }
        </tbody>
    </table>
}